* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.container {

    width: 100%;
    max-width: 500px;

    background: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow:
        0 4px 15px rgba(0,0,0,.12);
}

h1 {

    text-align: center;
    margin-bottom: 25px;
    color: #003366;
}

label {

    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: bold;
}

input {

    width: 100%;
    padding: 12px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 15px;
}

input:focus {

    outline: none;
    border-color: #003366;
}

button {

    width: 100%;

    margin-top: 25px;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background: #25D366;

    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

button:hover {

    opacity: .9;
}

#mensagem {

    margin-top: 20px;

    text-align: center;
    font-weight: bold;
}